<div class="container-fluid" style="height: inherit; font-size: 16px; font-family: Staatliches, monospace; color: #29292a">
  <div class="row" style="line-height: 2.5; border-bottom: thin solid #29292a">
    <div class="col-1" style="display: flex; justify-content: flex-end; align-items: center">ID</div>
    <div class="col-6 center-center">HASH</div>
    <div class="col-2 center-center" ><img src="assets/blue_car_alone_viewLeft.png" style="width: 85%;" /></div>
    <div class="col-2 center-center" ><img src="assets/red_car_alone_viewLeft.png" style="width: 85%;" /></div>
  </div>
  <div class="card-body" style="overflow-y: auto; height: 20vh;">
    <div class="row" style="line-height: 2; border-bottom: thin solid #29292a">
      <div class="col-1" style="display: flex; justify-content: flex-end; align-items: center">999999</div>
      <div class="col-6 hash">84bd954b90f3b4c352b4368c746ff2d20761651c5df4fd7ca67b9a2fad4deedc</div>
      <div class="col-2 center-center" style="padding-left: 4vh;">99999.99</div>
      <div class="col-2 center-center" style="padding-left: 4vh;">99999.99</div>
    </div>
    <div class="row" style="line-height: 2; border-bottom: thin solid #29292a">
      <div class="col-1" style="display: flex; justify-content: flex-end; align-items: center">999999</div>
      <div class="col-6 hash">84bd954b90f3b4c352b4368c746ff2d20761651c5df4fd7ca67b9a2fad4deedc</div>
      <div class="col-2 center-center" style="padding-left: 4vh;">99999.99</div>
      <div class="col-2 center-center" style="padding-left: 4vh;">99999.99</div>
    </div>
    <div class="row" style="line-height: 2; border-bottom: thin solid #29292a">
      <div class="col-1" style="display: flex; justify-content: flex-end; align-items: center">999999</div>
      <div class="col-6 hash">84bd954b90f3b4c352b4368c746ff2d20761651c5df4fd7ca67b9a2fad4deedc</div>
      <div class="col-2 center-center" style="padding-left: 4vh;">99999.99</div>
      <div class="col-2 center-center" style="padding-left: 4vh;">99999.99</div>
    </div>
    <div class="row" style="line-height: 2; border-bottom: thin solid #29292a">
      <div class="col-1" style="display: flex; justify-content: flex-end; align-items: center">999999</div>
      <div class="col-6 hash">84bd954b90f3b4c352b4368c746ff2d20761651c5df4fd7ca67b9a2fad4deedc</div>
      <div class="col-2 center-center" style="padding-left: 4vh;">99999.99</div>
      <div class="col-2 center-center" style="padding-left: 4vh;">99999.99</div>
    </div>
    <div class="row" style="line-height: 2; border-bottom: thin solid #29292a">
      <div class="col-1" style="display: flex; justify-content: flex-end; align-items: center">999999</div>
      <div class="col-6 hash">84bd954b90f3b4c352b4368c746ff2d20761651c5df4fd7ca67b9a2fad4deedc</div>
      <div class="col-2 center-center" style="padding-left: 4vh;">99999.99</div>
      <div class="col-2 center-center" style="padding-left: 4vh;">99999.99</div>
    </div>
  </div>
</div>
