<div class="row profile-row">
  <div class="col-3 center-center">
    <img src="assets/user.png" style="width: 70%;" />
  </div>
  <div class="col-9">
    <div class="row vert-center" style="height: 50%; padding: 0 2vh; font-size: 160%; display: flex;justify-content: flex-end;">
      Player's Name Comes here
    </div>
    <div class="row vert-center" style="height: 50%; padding: 0 2vh;">
      <div class="col" >
        <span style="display: flex;justify-content: flex-end;">NITROS:</span>
        <span style="display: flex;justify-content: flex-end; color: forestgreen; font-size: 150%">230,000</span></div>
    </div>
  </div>
</div>
